@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url("../src/assets/csm_pfanner-getraenke-fruchtsaft-kalorien_a98efbe205.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.container{
  width:40%;
  margin-top: 3%;
  box-shadow: 0px 4px 19px 5px rgba(171, 128, 107, 0.781);
  border-radius: 10px;
  background:rgba(255,255,255,0.3);
  padding: 20px 30px;
}
.container h1{
  font-family:"Raleway",serif;
  font-size: 35px;
  color:black;
  letter-spacing: 2px;
}

.container label{
  font-size: 22px;
  font-weight: 800;
  font-family:"Raleway",sans-serif;
  line-height: 6rem;
}
.container input{
  border:1px solid black;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 8px;
  background:rgba(255,255,255,0.3);
}
.container button{
  padding: 10px 40px;
  border:1px solid grey;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-family:"poppins";
  font-size: 16px;
  margin-top: 3rem;
  background:linear-gradient(to bottom,orange,rgb(206, 183, 33),rgba(181, 170, 72, 0.603));
}
.container p {
  font-family: "poppins",sans-serif;
  font-size: 20px;
  font-weight: 500;
}